server:
    port: 8899
    servlet:
        context-path: /api
        session:
            cookie:
                same-site: lax
spring:
    application:
        name: grabli_application
    datasource:
        url: jdbc:postgresql://localhost:5432/grabli_db?ApplicationName=${spring.application.name}
        username: grabli
        password: 9XJyr6VnFons0iK0
    jpa:
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.spatial.dialect.postgis.PostgisPG10Dialect
                default_schema: grabli_schema
    servlet:
        multipart:
            max-file-size: 2MB
            max-request-size: 2MB
logging:
    file:
        name: logs/application.log
    level:
        org:
            springframework:
                web: DEBUG
application:
    image-upload-path: images/
